{% extends "base.html" %}

{% block title %}OpenAutomation: Proyectos{% endblock %}

{% block titlecontenido %}Proyectos{% endblock %}{% block smalltitlecontenido %}Ejecutados y Detalles de Servicios{% endblock %}

{% block contenido %}
<html>
	<body">
      <div id="table">
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>
		<script type="text/javascript">google.load('visualization', '1', {packages: ['table']});</script>
		<script type="text/javascript">
			function drawVisualization() {
				var data = new google.visualization.DataTable();
					data.addColumn('string', 'Nombre Proyecto');
					data.addColumn('string', 'Estado Proyecto');
					data.addColumn('string', 'Compañia');
					data.addColumn('string', 'Division');
					data.addColumn('string', 'Descripcion');
					
					data.addRows({{ qs|length }});
					
					{% for s in qs %}  
						data.setCell({{ forloop.counter0 }}, 0, '{{ s.nameproyect }}');
						data.setCell({{ forloop.counter0 }}, 1, '{{ s.stateproyect }}');
						data.setCell({{ forloop.counter0 }}, 2, '{{ s.company }}');
						data.setCell({{ forloop.counter0 }}, 3, '{{ s.division }}');
						data.setCell({{ forloop.counter0 }}, 4, '{{ s.description }}');
					{% endfor %}

				visualization = new google.visualization.Table(document.getElementById('table'));
				visualization.draw(data, null);
			}
			google.setOnLoadCallback(drawVisualization);
		</script>
	  </div>
  	</body>
</html>
{% endblock %}
