{% extends "base.html" %}

{% block title %}OpenAutomation: Tienda{% endblock %}

{% block titlecontenido %}Almacen Tecnico{% endblock %}{% block smalltitlecontenido %}Tecnologias a su alcance{% endblock %}

{% block contenido %}
<html>
	<body">
      <div id="table">
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>
		<script type="text/javascript">google.load('visualization', '1', {packages: ['table']});</script>
		<script type="text/javascript">
			function drawVisualization() {
				var data = new google.visualization.DataTable();

					data.addColumn('string', 'Usuarios');
					data.addColumn('string', 'Nombre');
					data.addColumn('string', 'Apellido');
					
					data.addRows({{ qs|length }});
					
					{% for s in qs %}  
						data.setCell({{ forloop.counter0 }}, 0, '{{ s.username }}');
						data.setCell({{ forloop.counter0 }}, 1, '{{ s.first_name }}');
						data.setCell({{ forloop.counter0 }}, 2, '{{ s.last_name }}');
					{% endfor %}

				visualization = new google.visualization.Table(document.getElementById('table'));
				visualization.draw(data, null);
			}
			google.setOnLoadCallback(drawVisualization);
		</script>
	  </div>
  	</body>
</html>
{% endblock %}
