
      <ul class="thumbnails">
		  <li class="span6">
		    <a href="#" class="thumbnail">
		      <img src="{{ MEDIA_URL }}default/img/eolica2.jpg" alt="">
		    </a>
		  </li>
     </ul>


    <!--
    <div class="well">
        <h1>OpenAutomation</h1>        
        <p>Soluciones Industriales de Automatizacion y Tecnologias de la Informacion</p>
        
		  <div class="btn-group">
		   <button class="btn btn-primary">Ingrese</button>
		   <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
		     <span class="caret"></span>
		   </button>
		   <!-- dropdown menu links -->
	<!--	   <ul class="dropdown-menu">
		   	 <li><a href="/company">Empresa</a></li>
		   	 <li class="divider"></li>
		   	 <li><a href="/proyects">Proyectos</a></li>
		   	 <li class="divider"></li>
		   	 <li><a href="/store">Tienda Virtual</a></li>
		   </ul>
		  </div>    
    </div> -->
    
     <div class="span6 columns">
	  <div id="myCarousel" class="carousel slide">
	   <div class="carousel-inner">
	    <div class="item active">
	      <img src="{{ MEDIA_URL }}default/img/siemens/siemens_eolica.png" alt><div class="carousel-caption"><h4>Sistemas de Automatizacion DCS/PLC/HMI</h4><p>Siemens.</p></div>	    
	     </div>
	    <div class="item">
	      <img src="{{ MEDIA_URL }}default/img/rockwell.jpg" alt><div class="carousel-caption"><h4>Sistemas de Automatizacion PLC/HMI</h4><p>Rockwell Automation.</p></div>	    
	     </div>
	    <div class="item">
	      <img src="{{ MEDIA_URL }}default/img/schneider.jpg" alt><div class="carousel-caption"><h4>Sistemas de Automatizacion PLC/HMI</h4><p>Schneider-Electric.</p></div>
	     </div>
	    <div class="item">
	      <img src="{{ MEDIA_URL }}default/img/wonder.jpg" alt><div class="carousel-caption"><h4>Sistemas de HMI</h4><p>Invensys.</p></div>	    
	     </div>
	    <div class="item">
	      <img src="{{ MEDIA_URL }}default/img/zimbra.jpg" alt><div class="carousel-caption"><h4>Servidor de Correos</h4><p>VMWare.</p></div>
	     </div>
	    <div class="item">
	      <img src="{{ MEDIA_URL }}default/img/zextras.jpg" alt><div class="carousel-caption"><h4>Sistema de Plugin Zimbra</h4><p>Zextras.</p></div>
	     </div>
	    <div class="item">
	      <img src="{{ MEDIA_URL }}default/img/apache.jpg" alt><div class="carousel-caption"><h4>Servidor Web</h4><p>Apache.</p></div>	    
	     </div>
	    <div class="item">
	      <img src="{{ MEDIA_URL }}default/img/linux.jpg" alt><div class="carousel-caption"><h4>Linux</h4><p>Linus Torval.</p></div>
	     </div>
	    <div class="item">
	      <img src="{{ MEDIA_URL }}default/img/django.jpg" alt><div class="carousel-caption"><h4>Frameworks Web </h4><p>Django Proyect.</p></div>
	     </div>
	   </div> 
	   <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	   <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	  </div>    
     </div> <!--close carrusel-->        
    </div> <!--close row-->
    
     <h4>{{ qs.0.titleproduct }}</h4>
     
	{% for s in qs %} 	
	 <h4>{{ s.titleproduct }}</h4>
	 <h4>{{ s.codeproduct }}</h4>
	 <h4>{{ s.productdescription }}</h4>
	 <h4>{{ s.priceproduct }}</h4>
	{% endfor %}

	  {% if forloop.counter == 3 or forloop.counter == 6 or forloop.counter == 9 %}
	   <hr><h5>Precio1</h5>
	  {% endif %}


	  {% for s in qs %}
	    <div class="span4">
         <div class="thumbnail">
           <img src="{{ MEDIA_URL }}default/img/ubiquiti/rocket/260x180/ubnt-rocket-m-0.jpg" alt="">
           <div class="caption">
            <h4>{{ s.titleproduct }}{{ forloop.counter }}</h4>
            <h5>Codigo: {{ s.codeproduct }}</h5>
            <h5>Precio: {{ s.priceproduct }}</h5>
            <p>{{ s.productdescription }}</p>            
            <p><a href="#" class="btn btn-primary">Detalles</a> <a href="#" class="btn">PDF</a></p>
           </div>
         </div>
	    </div>
   
	  {% endfor %}
	  



 	
	    <div class="span4">
         <div class="thumbnail">
           <img src="{{ MEDIA_URL }}default/img/ubiquiti/rocket/260x180/ubnt-rocket-m-0.jpg" alt="">
           <div class="caption">
            <h4>titulo</h4>
            <h5>Codigo</h5>
            <h5>Precio</h5>
            <p>Description</p>            
            <p><a href="#" class="btn btn-primary">Detalles</a> <a href="#" class="btn">PDF</a></p>
           </div>
         </div>
	    </div>

	    <div class="span4">
         <div class="thumbnail">
           <img src="{{ MEDIA_URL }}default/img/ubiquiti/rocket/260x180/ubnt-rocket-m-0.jpg" alt="">
           <div class="caption">
            <h4>Titulo</h4>
            <h5>Codigo</h5>
            <h5>Precio</h5>
            <p>Description</p>            
            <p><a href="#" class="btn btn-primary">Detalles</a> <a href="#" class="btn">PDF</a></p>
           </div>
         </div>
	    </div>



	 {% if qs|length >= 3 %}
	   <hr>
	 {% endif %}
	 
	 
	        <h5>{{ s.titleproduct }}</h5>
            <h5>{{ s.codeproduct }}</h5>
            <h5>{{ s.priceproduct }}</h5>
            <p>{{ s.productdescription }}</p>  












